/* src/assets/styles/base/_fonts.scss  */

/*
  FontName
*/

/*
@font-face {
  font-family: 'Font';
  font-weight: 700;
  src: url('/assets/fonts/Font-Bold.woff');
}

@font-face {
  font-family: 'Font';
  font-weight: 500;
  src: url('/assets/fonts/Font-Medium.woff');
}

@font-face {
  font-family: 'Font';
  font-weight: 400;
  src: url('/assets/fonts/Font-Regular.woff');
}

@font-face {
  font-family: 'Font';
  font-weight: 300;
  src: url('/assets/fonts/Font-Light.woff');
}

$Font: 'Font', sans-serif;
*/
