$width-desktop: 1280px;
$width-laptop: 1024px;
$width-tablet: 768px;
$width-mobile: 480px;
$width-min: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font-family-title: "Montserrat", Arial, san-serif;
$font-family-base: "Montserrat", Arial, san-serif;

// colors
$color-black: #000000;
$color-dark: #1f2041;
$color-purple: #bc9cff;
$color-green: #6fcf97;


